<div class="wrapper">
  {{!-- Push Wrapper --}}
  <div class="mp-pusher" id="mp-pusher">
  
    {{push-menu}}

    <div class="nav-thin">
      <div class="icon-menu" id="trigger">
        <i class="fa fa-bars"></i>
        <span class="nav-wording">MENU</span>
      </div>
      <div class="icon-cal">
        <a href="/calendar/">
          <i class="fa fa-calendar"></i>
          <span class="nav-wording">CALENDAR</span>
        </a>
      </div>
      <div class="logo-container">
        <a href="/"><img id="main-logo" class="logo" src="../../../styles/img/favicons/favicon-96x96.png"/></a>
      </div>
    </div>


    
  </div>
</div>



<div class="container">
  {{outlet}}
</div>